fastapi==0.137.1
Jinja2==3.1.6
langchain==0.3.30
langchain-core==0.3.86
langchain-openai==0.2.14
langgraph==0.2.76
langgraph-checkpoint==2.1.2
langgraph-sdk==0.1.74
langsmith==0.8.16
loguru==0.7.3
openai==1.109.1
pydantic==2.13.4
pydantic-settings==2.14.1
PyMySQL==1.2.0
python-dotenv==1.2.2
requests==2.34.2
SQLAlchemy==2.0.51
uvicorn==0.49.0
